{
    "extends": "semistandard",

    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },

    "rules": {
        "curly": ["error", "all"],
        "space-before-function-paren": ["error", "never"]
    }
}
